.div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25vh;
}

div {
    margin-bottom: 25px;
}

input {
    width: 100%;
}

button {
    width: 200px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
}